# Dart / Flutter core
.dart_tool/
.packages
build/
pubspec.lock

# Dependency & cache
.pub-cache/
.pub/

# Generated plugin registrants
lib/generated_plugin_registrant.dart
windows/Runner/GeneratedPluginRegistrant.*
ios/Runner/GeneratedPluginRegistrant.*

# Coverage
coverage/

# Logs & misc
*.log
*.swp
.DS_Store

# IDE / Editor
.idea/

# iOS / Xcode
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/ServiceDefinitions.json

# Android / Gradle
.gradle/
android/.gradle/
android/build/
android/app/build/
**/android/local.properties
**/android/key.properties
*.iml
.cxx/
# Keystores (release/debug)
*.keystore
*.jks

# Windows
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/
windows/runner/*.vcxproj.user

# Obfuscation / symbol maps
app.*.map.json
app.*.symbols

# Recursive (nested Flutter modules)
**/.dart_tool/
**/build/
**/pubspec.lock
**/.pub-cache/
**/.pub/
**/android/.gradle/
**/android/app/build/
**/ios/Pods/
**/ios/Flutter/ephemeral/
**/windows/flutter/ephemeral/

# FVM Version Cache
.fvm/